<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Ventas</h3>
      <button class="btn btn-primary float-end" routerLink="/ventas/add">
        Agregar Venta +
      </button>
      <div class="card-body">
        <table class="table table-hover">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>ID Cliente</th>
              <th>Fecha</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let venta of ventas" class="text-center">
              <td>{{ venta.idVenta }}</td>
              <td>{{ venta.idCliente }}</td>
              <td>{{ venta.fecha | date : "short" }}</td>
              <td>{{ venta.total | currency }}</td>
              <td>{{ venta.estado }}</td>
              <td>
                <button class="btn btn-warning me-2" (click)="editVenta(venta)">
                  Editar
                </button>
                <button
                  class="btn btn-danger"
                  (click)="deleteVenta(venta.idVenta)"
                >
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
