.card {
  width: 100%;
  background-color: white;
  margin: 16px auto;
  max-width: 80%;
}

.card-header {
  background-color: #0f2e50;
  color: white;
}

.card-header h5 {
  font-size: 24px;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 16px;
}

.btn-primary {
  margin-top: 16px;
}
