<div class="container mt-4">
  <div class="row mb-2">
    <div class="col-md-8">
      <h2>Productos Disponibles</h2>
    </div>
    <div class="col-md-4">
      <button class="btn btn-primary float-end" routerLink="/productos/add">
        Agregar Producto +
      </button>
    </div>
  </div>
  <div>
    <input
      type="text"
      class="form-control"
      placeholder="Buscar Productos"
      [(ngModel)]="searchText"
      (input)="applyFilter()"
    />
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Categoría</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts">
            <td>{{ product.id }}</td>
            <td>
              <img
                [src]="getProductImage(product.id)"
                class="img-fluid"
                alt="{{ product.name }}"
                style="width: 50px; height: 50px; object-fit: cover"
              />
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency }}</td>
            <td>
              <span *ngIf="product.stock > 0">{{ product.stock }}</span>
              <span *ngIf="product.stock === 0" style="color: red"
                >Sin stock</span
              >
            </td>
            <td>{{ product.maker.name }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm"
                (click)="editProduct(product)"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="deleteProduct(product.id)"
              >
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
